<mat-toolbar color="primary" class="d-flex justify-center">
  <div class="vw-75 d-flex flex-row justify-between">
    <div class="">
      <button mat-icon-button style="cursor: pointer;">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-icon-button style="cursor: pointer;">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button style="cursor: pointer;">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  <div class="">
    <button mat-icon-button style="cursor: pointer;">
      <mat-icon>subtitles</mat-icon>
    </button>
    <button mat-icon-button style="cursor: pointer;">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button style="cursor: pointer;">
      <mat-icon>fullscreen</mat-icon>
    </button>
  </div>
  </div>

</mat-toolbar>
